<div class="container-lg">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Giriş Yap</div>
        <div class="card-body">
          <div class="form-group">
            <label>Ad:</label>
            <input type="text" name="ad" class="form-control" #ad>
          </div>
          <div class=" form-group">
            <label>Mail:</label>
            <input type="text" name="soyad" class="form-control" #soyad>
          </div>
          <div class="form-group">
            <label>Mail:</label>
            <input type="text" name="mail" class="form-control" #mail>
          </div>
          <div class="form-group">
            <label>Şifre:</label>
            <input type="password" name="password" class="form-control" #password>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Kayıt Ol</button>
          <button class="btn btn-success ml-2">Giriş Yap</button>
        </div>
      </div>
      <div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
</div>